<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketerp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketERP">
        <activity
            android:name=".invoicemodule"
            android:exported="false"
            android:label="Invoice"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".reportspdf"
            android:exported="false"
            android:label="Report"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".settingsmodule"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".reportsmodule"
            android:exported="false"
            android:label="Reports"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".Statisticsmodule"
            android:exported="false"
            android:label="Statistics"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".customersmodule"
            android:exported="false"
            android:label="Customers"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".suppliersmodule"
            android:exported="false"
            android:label="Suppliers"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".purchasemodule"
            android:exported="false"
            android:label="Purchases"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".inventorymodule"
            android:exported="false"
            android:label="Inventories"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".salesmodule"
            android:exported="false"
            android:label="Sales"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".registration"
            android:exported="false"
            android:label="Registration" />
        <activity
            android:name=".login"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".dashboard"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>